<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Form</title>
</head>
<body>
  <form action="/salt/run" method="POST">
    <input type="text" name="fun" placeholder="Function">
    <input type="text" name="client" placeholder="Client">
    <input type="text" name="timeout" placeholder="Timeout">
    <input type="text" name="gather_job_timeout" placeholder="Gather Job Timeout">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
